header
{background-color: slateblue;
  font-family: "Verdana", sans-serif;
  font-size: 60px; color: white; padding-top: 30px; padding-bottom: 30px;
}
aside {
  width: 30%;
  padding-left: 0px;
  padding-right: 15px;
  margin-right: 6px;
  float: left;
  background-color: lavender;
}
h1
{
  font-family: "Monaco", monospace;
  font-size: 25px;
  text-decoration-line: underline;
  color: indigo;
}
#place
{
  font-size: 18px;
}
#date
{
  font-size: 12px;
}
#details
{
  font-size: 15px;
}
